# الأساسيات للبوت والاتصال
pyTelegramBotAPI
requests>=2.31.0
beautifulsoup4
lxml

# معالجة الريكفري وتوليد الـ Device Tree
twrpdtgen
gitpython

# محركات التحميل (التحميل الذكي)
yt-dlp>=2024.1.0
gdown>=5.1.0
mega.py>=1.0.8
